.App {
  text-align: center;
}
h1 {
 margin:20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.textArea{
  height: 300px;
}

